#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=ORBSLAM2_kinect
Exec=/home/e4e/workspace/ORB_SLAM2/kinect_orbslam2.launch
Path=/home/e4e/workspace/ORB_SLAM2
Name=ORBSLAM2_kinect
Icon=gnome-panel-launcher
